body {
    background-color: #201E1E;
     color: snow;
     margin: 0;
    font-family: "Montserrat", sans-serif;
}

.border--red {
    border: 0.5rem solid #EC4242;
    border-radius: 1rem;
    margin: 2rem;
}

.tag {
    padding: 0.4rem;
    margin: 0.4rem;
    color: #201E1E;
    background-color: #EC4242;
}

.pointer:hover {
    cursor: pointer;
}

.logo {
    max-height: 8rem;
    max-width: 6rem;
}