body {
    background-color: #201E1E;
     color: snow;
     margin: 0;
}

.border--red {
    border: 0.5rem solid #EC4242;
    border-radius: 1rem;
    margin: 2rem;
}

.tag {
    padding: 0.5rem;
    border: solid #bab9b8 0.1rem;
    border-radius: 0.5rem;
    background-color: #bab9b8;
    margin: 0.5rem;
    color: black;
}

.pointer:hover {
    cursor: pointer;
}

.logo {
    max-height: 8rem;
    max-width: 6rem;
}