.post {
    display: flex;
}

.red {
    color: #EC4242;
}

.title {
    margin-left: 2rem;
}

.post__visual {
    grid-area: one;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.border--red--dash {
    border: solid #EC4242 0.4rem;
    border-style: dashed;
    margin: 2rem;
}

.post__description {
    grid-area: two;
    min-width: 10rem;
    padding: 1rem;
}

.post {
    display: grid;
    grid-template-areas: "one two two two";
}

.visual__choice {
    display: flex;
    align-content: space-evenly;
}

.visual__skills {
    display: flex;
}