<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
    <script th:src="@{/js/main.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="red title">
    <h1>PROJECTS</h1>
    <span class="link pointer" onclick="location.href='/api/v1/user/logout'">LOG OUT</span>
    <span class="link pointer" onclick="location.href='/new_project'">NEW PROJECT</span>
</div>
<div th:each="project: ${projects}" >
    <div th:id="${project.getId()}" th:include="post"></div>
</div>

</body>
</html>