<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hestia</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"></link>
</head>

<body>
    <header class="container header__container">
        <div class="header__div">
            <div class="header__text">
                <h4>COMMUNITY FOR DEVELOPERS AND FREELANCERS</h4>
            </div>
            <div class="header__img">
                <div class="pointer logo" th:include="hestia_logo"></div>
            </div>
            <h1>HESTIA</h1>
            <div class="button__div">
                <button class="button__header post--border--small">Discover more about our policies</button>
            </div>
        </div>
    </header>
    <div class="scaleable">
        <div class="triangle"></div>
    </div>
    <div class="row">
        <h3 class="customers__main">What do we provide to our developers?</h3>
    </div>
    <div class="section__cards">
        <div class="card">
            <div class="card__third post--border--medium">
                <h3>Accessibility</h3><br>
                <p>Wide range of projects</p>
                <p>Minimal fees</p>
                <p>All skill levels</p>
                <p>All programming languages</p>
            </div>
        </div>
        <div class="card">
            <div class="card__third post--border--medium">
                <h3>Innovation</h3><br>
                <p>Use the newest industry standards</p>
                <p>Connect with customers</p>
                <p>Build your portfolio</p>
                <p>Start your career</p>
            </div>
        </div>
        <div class="card">
            <div class="card__third post--border--medium">
                <h3>Sustainability</h3><br>
                <p>Energy saving solutions</p>
                <p>Writing clean code</p>
                <p>Renewable-energy hosting</p>
                <p>Simplicity</p>
            </div>
        </div>
    </div>
    <div class="black--bg">
        <div class="skills">
            <div class="row">
                <h3 class="customers__main">Which skills are in-demand in our current projects?</h3>
            </div>
            <p class="group__logo"><i class=""></i>Java</p>
            <div class="group">
                <div class="group__bar" style="width:30%">30%</div>
            </div>
            <p class="group__logo"><i class=""></i>Python</p>
            <div class="group">
                <div class="group__bar" style="width:25%">25%</div>
            </div>
            <p class="group__logo"><i class=""></i>Ruby</p>
            <div class="group">
                <div class="group__bar" style="width:10%">10%</div>
            </div>
            <p class="group__logo"><i class=""></i>C</p>
            <div class="group">
                <div class="group__bar" style="width:5%">5%</div>
            </div>
            <p class="group__logo"><i class=""></i>CSS</p>
            <div class="group">
                <div class="group__bar" style="width:85%">85%</div>
            </div>
        </div>
    </div>
</body>

</html>