<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/login.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="login">

    <label>
        <span>[</span>
        <input class="login__input" type="email" required>
        <span>]</span>
    </label>
    <label>
        <span>[</span>
        <input class="login__input" type="password" required>
        <span>]</span>
    </label>
    <input class="login__submit pointer" type="submit">
</div>
</body>
</html>