<div class="post">
    <div class="post__visual post--border post__size_1">
        <svg width="10rem" height="10rem" class="visual__image"></svg>
        <span class="visual__name" th:text="${name}"></span>
        <div class="visual__skills">
            <span class="skills__skill">Java</span>
            <span class="skills__skill">Python</span>
            <span class="skills__skill">Kotlin</span>
        </div>
        <div class="visual__choice">
            <svg width="5rem" height="5rem" class="choice__image"></svg>
            <svg width="5rem" height="5rem" class="choice__image"></svg>
        </div>
    </div>
    <div class="post__description post--border post__size_2">
        <h3>Desciption</h3>
        <span th:text="${description}"></span>
    </div>
</div>

