<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
<div class="red title">
  <h1>PROFILE</h1>
</div>
<div class="flex-container">
  <div class="profile__left border--red--dash">
    <h3 class="title">FIRST NAME:</h3>
    <h3 class="title">LAST NAME:</h3>
    <h3 class="title">EMAIL:</h3>

  </div>
  <div class="profile__right__top border--red--dash">
    <h3 class="title">SKILLS:</h3>
  </div>
  <div class="profile__right__bottom border--red--dash">
    <h3 class="title">PROJECTS:</h3>
  </div>
</div>
</body>
</html>